
/* ==================TESTIMONIOS CARDS=================  */
.testimonial-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.testimonial-container h2{
    color: chocolate;
    margin: 15px;

}
.testimonial-card {
    background-color:rgb(240, 217, 10) ;
    color: rgb(250, 107, 5);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    align-self: flex-start flex-end;      
}

.testimonial-card p strong{
    color: black;
    
}

.client-img {
    max-width: 100px;
    border-radius: 50%;
}

/* ============FORMULARIO=================== */


.titulo-formulario{
    text-align: center;
    background-color: rgba(173, 169, 169, 0.603);
    margin: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.titulo-formulario h2{
    margin: 20px;
    padding: 10px;
}
.titulo-formulario p{
    margin: 10px;
    padding: 10px;
    
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
}

.formulario h2 {
    text-align: center;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario textarea {
    resize: vertical;
}

.formulario input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
}


/* =================PAGINA "PRODUCTOS"================== */

.hero-producto{
    background-image: url(../img/producto-casa.png);
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-producto h2{
    color: chocolate;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic
   
}

.nuestro-producto{
    display: flex;
    flex-direction: column;
    text-align: center; background-color: orange;
    color: white;    
}

.nuestro-producto h2{
    margin: 15px; 
    color: black; 
    font-size: 100px;
}

.nuestro-producto p{
    padding: 20px;
    font-size: 20px;
}

.ventajas{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;    
}

.div{
    display:flex; 
    justify-content: center;
    align-items:center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    height: 200px;
    width: 200px;
    overflow:hidden;
}

h2{
    text-align: center;
    margin: 15px;
}


.lineas h2{
    margin: 20px;
}

.modena{
    margin: 100px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.img-container{
    display: flex;
    justify-content: center;
}



.modena-container{
    display: flex;
    flex-direction: column;
}

.modena div img{
    height: 300px;
    width: 300px;
}

.a30{
    margin: 100px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.a30 div img{
    height: 300px;
    width: 300px;
}




/* ==================PAGINA "EMPRESA"=================== */

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(14, 10, 7);
    text-align:center;    
    width: 100%;
    height: 480px;
    background-image: url("../img/empresa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.contenidoEmpresa{
    background-color: rgb(145, 143, 143);
    margin: 50px;
    padding: 35px;
    text-align: center;
    font-size: larger;
}

.contenidoEmpresa h3{
    margin: 15px;
    color: chocolate;
}

.foto-aberturas{
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
    margin: 20px;
}

.datos{
        background-color: rgb(145, 143, 143);
        margin: 50px;
        padding: 35px;
        text-align: center;
        font-size: larger;
}

.datos h3{
    margin: 15px;
    color: chocolate;
}

.mueble{
    background-size: cover;

}



/* =========================PAGINA "AMOBLAMIENTOS"======================== */


.presentacion-mueble{
    display: flex;
    flex-direction: column; 
    margin: 100px; 
    background-color:rgb(150, 148, 148);  
}

.presentacion-mueble h2{
    color: chocolate;
    font-size: 100px;    
}

.infoParrafo{
    display: flex;
    margin: 50px;
}

.infoParrafo p{
    padding: 15px;
    color: white;
}

.lista-detalles{
    background-color: gold;
    margin: 100px;
    margin-top: 20px;    
}

.lista-detalles h2{
    color: chocolate;
    font-size: 50px;
}

.detalles{
    display: flex;
    justify-content: center;
}



/* ============FOOTER=================== */

footer{
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 100px;
   
}

footer div{
    display: inline-block;
    margin-top: 4%;
}


/* ===============MEDIA QUERIS================== */
    @media screen and (max-width:1076px){
        .navbar-nav{
            margin:5px;
            padding: 5px;
        }
    }

    @media screen and (max-width:990px){
    .grid-container{
        width: 100%;
        height: auto;
        margin: 10px;        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        }        
    }

    @media screen and (max-width:800px){
        .titulo-formulario{         
            width: 100%;
            margin: 0;
        }
    }

    @media screen and (max-width:770px){
        .img-container{
            flex-wrap: wrap;
        }
    }   

    @media screen and (max-width:570px){
        .grid-container{       
            grid-template-columns:1fr;
            grid-template-rows:1fr;
            gap: 15px;
            }
        
            .testimonial-container{              
                flex-direction:column;
              
            }    
    }


    @media screen and (max-width:470px){
        .hero{         
            height: 500px;
            margin: auto;
          }   

        .hero h1{ 
            font-size: 50px;           
            margin: 20px;  
        }
        
        .hero-producto{
            height: 500px;
            margin: auto;        
        }
        
        .hero-producto h2{
            margin: auto;
            font-size: 50px;           
        }
        
        .nuestro-producto p{
            padding: 20px;
            font-size: 20px;
        }

        .ventajas{
           justify-content: center;
           align-items: center;
            
        }
    }

    @media screen and (max-width:350px){
        .titulo-formulario{
            padding: auto;
        }


    }