.logo{
    margin: 5px;
    margin-top: 0%;
    padding: 20px;
    display: block;  
    text-align: center;
    text-decoration: none;   
    color: chocolate;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
 }
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    li{
        display: inline-block;
        margin: 20px;
        padding: 5px;
        a{
            text-decoration: none;
            color: chocolate;
             
        }  
    }
 }

 .form-control{
    width: auto;
    padding: 0;
}

.menu{
    width: 100%;
    background-color:white;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:chocolate;
    text-align:center;    
    width: 100%;
    height: 550px;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1{
        color: rgb(240, 127, 14); 
        font-size: 100px;
        margin: 0;         
    }
    p{
        color: black;
        font-size: 18px;  
    }
}